<div id="subTitle">
  <h3 i18n="@@passwordChange">Password Change</h3>
</div>

<form [formGroup]="passwordChangeForm" (ngSubmit)=formSubmitted(0)>
  <div id="inputTable">
    <div class="formSubgroup">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@currentPassword">Current Password</mat-label>
        <input id="currentPassword" matInput type="password" formControlName="currentPassword">

        <button mat-icon-button matSuffix (click)="toggleShowCurrentPassword('currentPassword')" type="button"
          class="showPassword">
          <mat-icon>{{currentPasswordIcon}}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="currentPassword.invalid && currentPassword.touched && !currentPassword.errors.required" class="alert">
        <div *ngIf="currentPassword.errors.passwordPolicy" i18n="@@passwordLength">
          The password needs to be at least 4 characters long.
        </div>
      </div>
    </div>

    <div class="formSubgroup">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@newPassword">New Password</mat-label>
        <input id="newPassword" matInput type="password" formControlName="newPassword">

        <button mat-icon-button matSuffix (click)="toggleShowNewPassword('newPassword')" type="button"
          class="showPassword">
          <mat-icon>{{newPasswordIcon}}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="newPassword.invalid && newPassword.touched && !newPassword.errors.required" class="alert">
        <div *ngIf="newPassword.errors.passwordPolicy" i18n="@@passwordLength">
          The password needs to be at least 4 characters long.
        </div>
      </div>
    </div>

    <div class="formSubgroup">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@newPasswordRepetition">New Password Repetition</mat-label>
        <input id="newPasswordRepetition" matInput type="password" formControlName="newPasswordRepetition">

        <button mat-icon-button matSuffix (click)="toggleShowNewPasswordRepetition('newPasswordRepetition')"
          type="button" class="showPassword">
          <mat-icon>{{newPasswordRepIcon}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="currentPassword.valid && newPassword.valid && newPasswordRepetition.valid && passwordChangeForm.invalid"
    class="alert">
    <div *ngIf="passwordChangeForm.errors.different" i18n="@@passwordsDifferent">
      The new password must be different than the current one.
    </div>

    <div *ngIf="passwordChangeForm.errors.equals" i18n="@@passwordsEqual">
      The password must be equal to its repetition.
    </div>
  </div>

  <button class="submitButton" mat-raised-button color="primary" i18n="@@change" [disabled]="passwordChangeForm.invalid"
    type="submit">
    Change
  </button>
</form>

<ngx-loading [show]="showLoading"></ngx-loading>
