<div id="subTitle">
  <h3 i18n="@@recoverPassword">Recover Password</h3>
</div>

<form [formGroup]="recoverForm" (ngSubmit)=onSubmit()>
  <div id="inputTable">
    <div class="formSubgroup">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@email">Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>

      <div *ngIf="email.invalid && email.touched && !email.errors.required" class="alert">
        <div *ngIf="email.errors.pattern" i18n="@@invalidEmailFormat">
          The format of the email is invalid.
        </div>
      </div>
    </div>
  </div>

  <div id="buttons">
    <button class="submitButton" mat-raised-button color="primary" i18n="@@recover" type="submit"
      [disabled]="recoverForm.invalid">
      Recover
    </button>
  </div>
</form>

<div>
  <span i18n="@@rememberedPassword">Rememebered your password?</span>&nbsp;
  <b><span (click)="onNavigate('login')" i18n="@@logIn" class="mouseIsPointer">Log In</span></b>
</div>

<ngx-loading [show]="showLoading"></ngx-loading>
