/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
}

button.matMenuButton {
  text-align: center;
  min-width: 112px;
}

/* Add vertical margin between items in a ul. */
li:not(:last-child) {
  margin-bottom: 2vh;
}
