<button mat-icon-button (click)="changeTheme()">
  <mat-icon>format_color_fill</mat-icon>
</button>

<div *ngIf="tokenService.validateRefreshToken(); then loggedIn else notLoggedIn">
</div>

<ng-template #loggedIn>
  <button id="account" mat-raised-button [matMenuTriggerFor]="accountMenu" (click)="updateButtonsWidth()"
    class="primary-light">
    <mat-icon>account_box</mat-icon>
    <span fxHide.lt-md>{{tokenService.getUsername()}}</span>
  </button>

  <mat-menu class="accountMenu" #accountMenu>
    <button mat-menu-item class="matMenuButton" [style.width.px]="width" i18n="@@alarms"
      (click)="goToAlarms()">Alarms</button>

    <button mat-menu-item class="matMenuButton" [style.width.px]="width" i18n="@@reminders"
      (click)="goToReminders()">Reminders</button>

    <button mat-menu-item class="matMenuButton" [style.width.px]="width" i18n="@@settings"
      (click)="goToSettings()">Settings</button>

    <button mat-menu-item class="matMenuButton" [style.width.px]="width" i18n="@@logOut" (click)="logOut()">Log
      out</button>
  </mat-menu>
</ng-template>

<ng-template #notLoggedIn>
  <button mat-raised-button class="primary-light" (click)="goToLogIn()" i18n="@@logIn">Log
    In</button>&nbsp;
  <button mat-raised-button class="primary-light" (click)="goToSignUp()" i18n="@@signUp" fxHide.lt-md>Sign Up</button>
</ng-template>
