* {
  text-align: center;
}

div#title {
  margin-bottom: 5vh;
}

div.subtopic {
  padding: 5vh 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h2.subtitle {
  margin-bottom: 5vh;
}

img#logo {
  max-height: 20vh;
  height: auto;
}

*#titleText {
  font-family: "Patua One";
  font-size: 32px;
}
