<div id="title">
  <img [src]="logoSrc" id="logo" />
  <h1 id="titleText">LembretesTV</h1>
</div>

<div class="subtopic">
  <h2 class="subtitle" i18n="@@objectiveQuestion">Tired of missing out on your favorite shows and movies?</h2>

  <span i18n="@@objectiveAnswer">Create alarms for them and get notified as soon as they appear in the tv
    listings.</span>
</div>

<mat-divider></mat-divider>

<div class="subtopic">
  <h2 class="subtitle" i18n="@@similarApplicationsQuestion">How does it differ from other applications,
    like Trakt?</h2>

  <span i18n="@@similarApplicationsAnswer">Most applications present you with the airing date
    for the US, while here you'll get notified when it actually airs in Portugal.</span>
</div>

<mat-divider></mat-divider>

<div class="subtopic">
  <h2 class="subtitle" i18n="@@aboutUs">About us</h2>

  <span i18n="@@aboutUsText">My name is Acácio Correia and I'm the developper of this application.
    I've developed it to solve a problem I had and in the hope that it could help somebody else.</span>
</div>

<mat-divider></mat-divider>

<div class="subtopic">
  <h2 class="subtitle" i18n="@@contactInformation">Contact Information</h2>

  <span i18n="@@contactInformationText">You can contact us with your feedback and suggestions using the
    email:</span>&nbsp;
  <a href="mailto:lembretestv@gmx.pt">lembretestv@gmx.pt</a>
</div>
