/* So that this component expands to the full extent of its parent. */
:host {
  max-width: 700px;
  width: 100%;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div#top {
  margin-bottom: 4vh;
  text-align: center;
}

div#sections {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.topics {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.topic {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div#email,
div#account,
div#channelList,
div#saveSettings {
  margin-top: 2vh;
}

div#language,
div#channels {
  margin-top: 5vh;
}

div#channelList {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div#channelListElements {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div#channelListTitle{
  margin-bottom: 2vh;
}

div.channel {
  min-width: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.channelMobile {
  flex: 1 1 auto;
  min-width: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div#saveSettings{
  /* Forces the position of the button save settings to be fixed. */
  position: fixed !important;
  bottom: 4vh;
  z-index: 1;
}

button#saveSettings{
  background-color: green;
}

*#subtitle {
  font-family: "Patua One";
  font-size: 22px;
}

/* This is used to reduce the top margin of the .mat-form-field. */
::ng-deep .mat-form-field-infix {
  border-top-width: 4px;
}
