<div id="top">
  <h3 id="subtitle" i18n="@@settings">Settings</h3>
</div>

<div id="sections">
  <div class="section">
    <h4 i18n="@@security">Security</h4>

    <div class="topics">
      <div class="topic">
        <span i18n="@@password">Password</span>

        <div>
          <button mat-raised-button (click)="changePassword()" color="primary" i18n="@@changePassword">
            Change Password
          </button>
        </div>
      </div>

      <div class="topic" id="email">
        <span><span i18n="@@email">Email</span>: <b>{{tokenService.getUsername()}}</b></span>

        <div>
          <button mat-raised-button (click)="changeEmail()" color="primary" i18n="@@changeEmail">
            Change Email
          </button>
        </div>
      </div>

      <div class="topic" id="account">
        <span i18n="@@account">Account</span>

        <div>
          <button color="warn" mat-raised-button (click)="deleteAccount()" i18n="@@deleteAccount">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="language">
    <h4 i18n="@@language">Language</h4>

    <div class="topics">
      <div class="topic">
        <span i18n="@@language">Language</span>

        <div>
          <mat-form-field appearance="outline">
            <mat-select color="primary" [(value)]="language" (selectionChange)="languageChanged()">
              <mat-option value="pt">
                Português
              </mat-option>
              <mat-option value="en">
                English
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="channels">
    <h4 i18n="@@channels">Channels</h4>

    <div class="topics">
      <div class="topic">
        <span><span i18n="@@includeAdultChannels">Include adult channels</span>:
          <ng-container *ngIf="includeAdultsChannels; then yes; else no">
          </ng-container>

          <ng-template #yes>
            <b i18n="@@yes">Yes</b>
          </ng-template>

          <ng-template #no>
            <b i18n="@@no">No</b>
          </ng-template>
        </span>

        <div>
          <mat-slide-toggle color="primary" [checked]="includeAdultsChannels" (change)="toggleAdultSetting()">
          </mat-slide-toggle>
        </div>
      </div>

      <div id="channelList">
        <div id="channelListTitle" i18n="@@channelListInterest">Channel List of Interest</div>

        <div id="channelListElements">
          <ng-template ngFor let-item [ngForOf]="channelsService.channelList">
            <div [ngClass]="{'channelMobile' : isMobileDevice, 'channel' : !isMobileDevice}">
              {{item.name}}
              <mat-slide-toggle color="primary" [checked]="isChannelExcluded(item.id)"
                (change)="toggleChannelExcluded(item.id)">
              </mat-slide-toggle>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div id="saveSettings" [hidden]="!saveSettingsVisible">
    <button id="saveSettings" mat-raised-button (click)="saveSettings()" i18n="@@saveSettings">
      Save Settings
    </button>
  </div>
</div>

<ngx-loading [show]="showLoading"></ngx-loading>
