<h1 mat-dialog-title i18n="@@updateAlarm">Update Alarm</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div class="modalDiv">
    <p><b>{{data.showTitle}}</b></p>

    <form [formGroup]="updateAlarmForm" (ngSubmit)=onUpdateAlarm() (keydown.enter)="onUpdateAlarm()">
      <div id="form">
        <mat-form-field appearance="outline" id="season" class="mat-cell-input-number">
          <mat-label i18n="@@season">Season</mat-label>
          <input matInput type="number" id="season" min="1" max="50" formControlName="season">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label i18n="@@episode">Episode</mat-label>
          <input matInput type="number" id="episode" min="1" formControlName="episode">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions id="buttons">
  <div id="deleteButtonDiv">
    <button mat-raised-button color="warn" (click)="onDeleteAlarm()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div id="doneButtonDiv">
    <button mat-raised-button color="primary" (click)="onUpdateAlarm()" [disabled]="updateAlarmForm.invalid">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
