<ngx-loading [show]="showLoading"></ngx-loading>

<div *ngIf="dataSource.data.length > 0; then hasResults; else noResults"></div>

<ng-template #hasResults>
  <div *ngIf="showData && showData.season_premiere; then showTvShow"></div>

  <ng-template #showTvShow>
    <div id="showTvShow">
      <mat-icon>announcement</mat-icon>&nbsp;
      <span i18n="@@season">Season</span>
      {{showData.season_premiere}}
      <span i18n="@@latestRegisteredSeason">was the latest season with recorded sessions in our system.</span>
    </div>
  </ng-template>

  <div>
    <table id="resultsTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
      <!-- Show Column -->
      <ng-container matColumnDef="wholeInfo">
        <th mat-header-cell *matHeaderCellDef i18n="@@show"> Show </th>
        <td mat-cell *matCellDef="let element">
          <b>{{element.title}}</b><br>

          <span *ngIf="element.season">
            <span i18n="@@firstLetterInSeason">S</span>{{element.season}}
          </span>

          <span *ngIf="element.episode">
            <span i18n="@@firstLetterInEpisode">E</span>{{element.episode}}
          </span>

          <span *ngIf="element.first_season_available">
            <span i18n="@@firstLetterInSeason">S</span>{{element.first_season_available == element.last_season_available
            ?
            element.first_season_available :
            element.first_season_available + ' - ' + element.last_season_available}}
          </span>

          <i>{{element.service}}</i>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef i18n="@@title"> Title </th>
        <td mat-cell *matCellDef="let element">
          <b>{{element.title}}</b>

          <span *ngIf="element.extended_cut">
            (<span i18n="@@extendedCut">extended cut</span>)
          </span>

          <span *ngIf="element.audio_language">
            ({{element.audio_language}})
          </span>
        </td>
      </ng-container>

      <!-- Season Column -->
      <ng-container matColumnDef="season">
        <div fxHide.lt-md>
          <th mat-header-cell *matHeaderCellDef i18n="@@season"> Season </th>
          <td mat-cell *matCellDef="let element">
            {{element.type == 'TV' ?
            element.season :
            element.first_season_available == element.last_season_available ?
            element.first_season_available :
            element.first_season_available + ' - ' + element.last_season_available}}
          </td>
        </div>
      </ng-container>

      <!-- Episode Column -->
      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef i18n="@@episode"> Episode </th>
        <td mat-cell *matCellDef="let element"> {{element.type == 'TV' ? element.episode : '-'}} </td>
      </ng-container>

      <!-- Channel Column -->
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef i18n="@@channel/service"> Channel/Service </th>
        <td mat-cell *matCellDef="let element"> <i>{{element.service}}</i> </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef i18n="@@schedule"> Schedule </th>
        <td mat-cell *matCellDef="let element">
          {{element.date_time == null ? '-' : (element.date_time | date:'EEEE, d MMMM HH:mm')}}
        </td>
      </ng-container>

      <!-- Reminder Column -->
      <ng-container matColumnDef="reminder">
        <th mat-header-cell *matHeaderCellDef i18n="@@reminder"> Reminder </th>
        <td mat-cell *matCellDef="let element">
          <!-- Only for channel sessions (which means they have a date time) -->
          <div *ngIf="element.date_time">
            <div *ngIf="element.isMatch; then match; else noMatch"></div>
            <ng-template #match>
              <button mat-raised-button color="accent" (click)="onCreateReminder($event, element)">
                <mat-icon>settings</mat-icon>
              </button>
            </ng-template>

            <ng-template #noMatch>
              <button mat-raised-button color="primary" [disabled]="checkCanCreateReminder(element.date_time)"
                (click)="onCreateReminder($event, element)">
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
    </table>
  </div>
</ng-template>

<!-- The paginator did not work correctly inside the ng-template. -->
<div [hidden]="dataSource.data.length <= 0">
  <mat-paginator [pageSize]="pageSize" (page)="onPageChange()"></mat-paginator>
</div>

<ng-template #noResults>
  <div id="results">
    <div *ngIf="showData && showData.premiere_date; then showShow; else noShow"></div>

    <ng-template #showShow>
      <div *ngIf="showData.season_premiere; then showTvShow; else showMovieShow"></div>

      <ng-template #showTvShow>
        <mat-icon>announcement</mat-icon>&nbsp;
        <span i18n="@@noTvSessionsButRecords">No current sessions found for the
          show, but there are records for old sessions for season</span>&nbsp;
        {{showData.season_premiere}}.
      </ng-template>

      <ng-template #showMovieShow>
        <mat-icon>announcement</mat-icon>&nbsp;
        <span i18n="@@noMovieSessionsButRecords">No sessions found for the show,
          nor any register of it ever appearing on TV.</span>
      </ng-template>
    </ng-template>

    <ng-template #noShow>

      <mat-icon>announcement</mat-icon>&nbsp;
      <span i18n="@@noSessionsNoRecords">No current sessions available for the
        show, but it has premiered on TV.</span>
    </ng-template>
  </div>
</ng-template>

<template #searchDatabaseInfo i18n="@@searchDatabaseInfo">Search show database and create reminders</template>

<!-- Templates with the labels for the paginator. -->
<template #itemsPerPage i18n="@@itemsPerPage">Results per page:</template>
<template #previousPage i18n="@@previousPage">Previous page</template>
<template #nextPage i18n="@@nextPage">Next page</template>
<template #of i18n="@@of">of</template>
