<div id="top">
  <h3 id="subtitle" i18n="@@reminderList">Reminder List</h3>
</div>

<ngx-loading [show]="reminderService.showLoading"></ngx-loading>

<div *ngIf="remindersDataSource.data.length > 0; then hasReminders; else noReminders">
</div>

<ng-template #hasReminders>
  <div id="results">
    <table mat-table [dataSource]="remindersDataSource" class="mat-elevation-z8" multiTemplateDataRows>
      <!-- Show Column -->
      <ng-container matColumnDef="wholeInfo">
        <th mat-header-cell *matHeaderCellDef i18n="@@show"> Show </th>
        <td mat-cell *matCellDef="let element">
          <b>{{element.title}}</b><br>

          <span *ngIf="element.season">
            <span i18n="@@firstLetterInSeason">S</span>{{element.season}}
          </span>

          <span *ngIf="element.episode">
            <span i18n="@@firstLetterInEpisode">E</span>{{element.episode}}
          </span>

          <i>{{element.channel_name}}</i>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef i18n="@@title"> Title </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.title}}</b> </td>
      </ng-container>

      <!-- Season Column -->
      <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef i18n="@@season"> Season </th>
        <td mat-cell *matCellDef="let element"> {{element.season}} </td>
      </ng-container>

      <!-- Episode Column -->
      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef i18n="@@episode"> Episode </th>
        <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
      </ng-container>

      <!-- Channel Column -->
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef i18n="@@channel"> Channel </th>
        <td mat-cell *matCellDef="let element"> <i>{{element.channel_name}}</i> </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef i18n="@@schedule"> Schedule </th>
        <td mat-cell *matCellDef="let element">
          {{element.date_time == null ? '-' : (element.date_time | date:'EEEE, d MMMM HH:mm')}}
        </td>
      </ng-container>

      <!-- Anticipation Hours Column -->
      <ng-container matColumnDef="anticipation">
        <th mat-header-cell *matHeaderCellDef i18n="@@anticipationHours"> Anticipation Hours </th>
        <td mat-cell *matCellDef="let element"> <i>{{element.anticipation_minutes / 60}}</i> </td>
      </ng-container>

      <!-- Reminder Column -->
      <ng-container matColumnDef="reminder">
        <th mat-header-cell *matHeaderCellDef i18n="@@reminder"> Reminder </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.is_movie; then delete; else settings"></div>

          <ng-template #delete>
            <button mat-raised-button color="warn" (click)="onDeleteReminder(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>

          <ng-template #settings>
            <button mat-raised-button color="accent" (click)="onUpdateReminder(element)">
              <mat-icon>settings</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="reminderDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: reminderDisplayedColumns;" class="example-element-row"></tr>
    </table>
  </div>
</ng-template>

<!-- The paginator did not work correctly inside the ng-template. -->
<div [hidden]="remindersDataSource.data.length <= 0">
  <mat-paginator #reminderPaginator [pageSize]="pageSize" (page)="onPageChange()"></mat-paginator>
</div>

<ng-template #noReminders>
  <div id=noReminders>
    <span i18n="@@noReminders">You have no reminders, try creating some!</span>&nbsp;
  </div>
</ng-template>

<!-- Templates with the labels for the paginator. -->
<template #itemsPerPage i18n="@@itemsPerPage">Results per page:</template>
<template #previousPage i18n="@@previousPage">Previous page</template>
<template #nextPage i18n="@@nextPage">Next page</template>
<template #of i18n="@@of">of</template>
