/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#top {
  margin-bottom: 4vh;
  text-align: center;
}

table {
  width: 100%;
}

/* So that the hidden row does not occupy space. */

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-position {
  padding: 16px;
}

/* Center the content in mat-tables (apparently it needs to be here to work). */
th.mat-header-cell {
  text-align: center;
}

td.mat-cell:not(.hidden-mat-cell) {
  text-align: center;
}

/* I don't know why but this fixes the change in position for the table headers. */
td.hidden-mat-cell {
  width: 50%;
}

div#noReminders {
  text-align: center;
}

*#subtitle{
  font-family: "Patua One";
  font-size: 22px;
}
