<div id="subTitle">
  <h2 i18n="@@signUpNoun">Sign Up</h2>
</div>

<ng-container *ngIf="hasRegistered; then registered; else registering"></ng-container>

<ng-template #registering>
  <form [formGroup]="registrationForm" (ngSubmit)=onRegister()>
    <div id="socialLoginButtons">
      <button class="socialSignIn" mat-raised-button (click)="signInWithGoogle()" type="button">
        <img class="socialSignIn" src="assets/external/btn_google_light_normal_ios.svg" />
        <span i18n="@@signInWith">Sign in with</span> Google
      </button>
    </div>

    <span id="orSpan" i18n="@@or">or</span>

    <div id="inputTable">
      <div class="formSubgroup">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@email">Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>

        <div *ngIf="email.invalid && email.touched && !email.errors.required" class="alert">
          <div *ngIf="email.errors.pattern" i18n="@@invalidEmailFormat">
            The format of the email is invalid.
          </div>
        </div>
      </div>

      <div class="formSubgroup">
        <mat-form-field appearance="outline" class="password">
          <mat-label i18n="@@password">Password</mat-label>
          <input id="password" matInput type="password" formControlName="password">

          <!--the tabindex="-1" makes so that the element cannot be focused with tab-->
          <button mat-icon-button matSuffix (click)="onToggleShowPassword('password')" type="button" class="showPassword" tabindex="-1">
            <mat-icon>{{passwordIcon}}</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="password.invalid && password.touched && !password.errors.required" class="alert">
          <div *ngIf="password.errors.passwordPolicy" i18n="@@passwordLength">
            The password needs to be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="formSubgroup">
        <mat-form-field appearance="outline" class="password">
          <mat-label i18n="@@passwordRepetition">Password Repetition</mat-label>
          <input id="passwordRepetition" matInput type="password" formControlName="passwordRepetition">

          <!--the tabindex="-1" makes so that the element cannot be focused with tab-->
          <button mat-icon-button matSuffix (click)="onToggleShowPasswordRepetition('passwordRepetition')" type="button"
            class="showPassword" tabindex="-1">
            <mat-icon>{{passwordRepIcon}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="email.valid && password.valid && passwordRepetition.valid && registrationForm.invalid" class="alert">
      <div *ngIf="registrationForm.errors.equals" i18n="@@passwordsEqual">
        The password must be equal to its repetition.
      </div>
    </div>

    <div id="buttons">
      <button class="submitButton" mat-raised-button color="primary" i18n="@@signUp" type="submit"
        [disabled]="registrationForm.invalid">
        Sign Up
      </button>
    </div>
  </form>
</ng-template>

<ng-template #registered>
  <div>
    <span i18n="@@verificatiomEmailSent">A verification email was sent to</span>&nbsp;<b>{{emailParam}}</b>.
  </div>
</ng-template>

<ng-container *ngIf="hasRegistered; then registrationIssues; else registeringIssues"></ng-container>

<ng-template #registeringIssues>
  <div>
    <span i18n="@@existingUser">Already an user?</span>&nbsp;
    <b><span (click)="onNavigate('login')" i18n="@@logIn" class="mouseIsPointer">Log In</span></b>
  </div>
</ng-template>

<ng-template #registrationIssues>
  <div id="missedVerificationEmail">
    <span i18n="@@missedVerificationEmail">Missed your verification email?</span>&nbsp;
    <b><span (click)="onSendNewVerificationEmail()" i18n="@@sendNew" class="mouseIsPointer">Send new</span></b>
  </div>
  <div id="wrongEmail">
    <span i18n="@@wrongEmail">Wrong email?</span>&nbsp;
    <b><span (click)="onFixEmail()" i18n="@@fix" class="mouseIsPointer">Fix</span></b>
  </div>
</ng-template>

<ngx-loading [show]="showLoading.bool"></ngx-loading>
