/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;
  /* To push the content a litte above the vertical center. */
  margin: 0 0 10vh 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  text-align: center;
}

div#subTitle {
  margin-bottom: 3vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#inputTable {
  margin-bottom: 3vh;
  width: 500px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

div#buttons {
  margin-bottom: 3vh;
}

button.submitButton {
  width: 120px;
}

div#formSubgroup {
  width: 100%;

  display: flex;
  flex-direction: column;
}

mat-form-field {
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.alert {
  margin-bottom: 1vh;
}

div#missedVerificationEmail {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

/* This is used to reduce the top margin of the .mat-form-field. */
::ng-deep .mat-form-field-infix {
  border-top-width: 4px;
}

/* This makes sure the button is vertically centered within the mat-form-field. */
button.showPassword {
  margin-bottom: -10px;
}

span#orSpan {
  margin-bottom: 1vh;
}

button.socialSignIn {
  display: inline-block;
}

img.socialSignIn {
  margin-right: 0.5em;
  height: 60%;
  display: inline;
  vertical-align: middle;
}

div#socialLoginButtons {
  margin-bottom: 1vh;
}
