<div id="subTitle">
  <h2 i18n="@@logIn">Log In</h2>
</div>

<form [formGroup]="loginForm" (ngSubmit)=onSubmit()>
  <div id="socialLoginButtons">
    <button class="socialSignIn" mat-raised-button (click)="signInWithGoogle()" type="button">
      <img class="socialSignIn" src="assets/external/btn_google_light_normal_ios.svg" />
      <span i18n="@@signInWith">Sign in with</span> Google
    </button>
  </div>

  <span id="orSpan" i18n="@@or">or</span>

  <div id="inputTable">
    <div class="formSubgroup">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@email">Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>

      <div *ngIf="email.invalid && email.touched && !email.errors.required" class="alert">
        <div *ngIf="email.errors.pattern" i18n="@@invalidEmailFormat">
          The format of the email is invalid.
        </div>
      </div>
    </div>

    <div class="formSubgroup">
      <mat-form-field appearance="outline" class="password">
        <mat-label i18n="@@password">Password</mat-label>
        <input id="password" matInput type="password" formControlName="password">

        <!--the tabindex="-1" makes so that the element cannot be focused with tab-->
        <button mat-icon-button matSuffix (click)="toggleShowPassword('password')" type="button" class="showPassword"
          tabindex="-1">
          <mat-icon>{{passwordIcon}}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="password.invalid && password.touched && !password.errors.required" class="alert">
        <div *ngIf="password.errors.passwordPolicy" i18n="@@passwordLength">
          The password needs to be at least 4 characters long.
        </div>
      </div>
    </div>
  </div>

  <div id="buttons">
    <button class="submitButton" mat-raised-button color="primary" i18n="@@logIn" type="submit"
      [disabled]="loginForm.invalid">
      Log In
    </button>
  </div>
</form>

<ng-container *ngIf="loginUnverifiedAccount; then unverified; else noLogin"></ng-container>

<ng-template #unverified>
  <div id="missedVerificationEmail">
    <span i18n="@@missedVerificationEmail">Missed your verification email?</span>&nbsp;
    <b><span (click)="onSendNewVerificationEmail()" i18n="@@sendNew" class="mouseIsPointer">Send new</span></b>
  </div>
</ng-template>

<ng-template #noLogin>
  <div id="forgotPassword">
    <span i18n="@@forgotPassword">Forgot your password?</span>&nbsp;
    <b><span (click)="onNavigate('forgotPassword')" i18n="@@recoverIt" class="mouseIsPointer">Recover
        it</span></b>
  </div>

  <div>
    <span i18n="@@newUser">Are you a new user?</span>&nbsp;
    <b><span (click)="onNavigate('signup')" i18n="@@signUpSuggestion" class="mouseIsPointer">Sign Up</span></b>
  </div>
</ng-template>

<ngx-loading [show]="showLoading.bool"></ngx-loading>
