<div id="subTitle">
  <h3 i18n="@@passwordChange">Password Change</h3>
</div>

<form [formGroup]="recoveryForm" (ngSubmit)=onSubmit()>
  <div id="inputTable">
    <div class="formSubgroup">
      <mat-form-field appearance="outline" class="password">
        <mat-label i18n="@@password">Password</mat-label>
        <input id="password" matInput type="password" formControlName="password">

        <button mat-icon-button matSuffix (click)="toggleShowPassword('password')" type="button" class="showPassword">
          <mat-icon>{{passwordIcon}}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="password.invalid && password.touched && !password.errors.required" class="alert">
        <div *ngIf="password.errors.passwordPolicy" i18n="@@passwordLength">
          The password needs to be at least 4 characters long.
        </div>
      </div>
    </div>

    <div class="formSubgroup">
      <mat-form-field appearance="outline" class="password">
        <mat-label i18n="@@passwordRepetition">Password Repetition</mat-label>
        <input id="passwordRepetition" matInput type="password" formControlName="passwordRepetition">

        <button mat-icon-button matSuffix (click)="toggleShowPasswordRepetition('passwordRepetition')" type="button"
          class="showPassword">
          <mat-icon>{{passwordRepIcon}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="password.valid && passwordRepetition.valid && recoveryForm.invalid" class="alert">
    <div *ngIf="recoveryForm.errors.equals" i18n="@@passwordsEqual">
      The password must be equal to its repetition.
    </div>
  </div>

  <div id="buttons">
    <button class="submitButton" mat-raised-button color="primary" i18n="@@change" type="submit"
      [disabled]="recoveryForm.invalid">
      Change
    </button>
  </div>
</form>

<ngx-loading [show]="showLoading"></ngx-loading>
