<h2>Política de Privacidade</h2>

<p>Nenhuma informação é recolhida através o site <a href=lembretestv.pt>LembretesTV</a>, para além daquela introduzida
  no formulário de registo.</p>

<p>Os dados guardados incluem apenas o email e palavra passe, sendo que esta última é guardada de forma processada,
  para impedir a sua consulta directa, mesmo por aqueles com acesso à Base de Dados.</p>

<p>A qualquer momento, o utilizador pode apagar a sua conta (e todos os dados associados) acedendo à página de
  definições da sua conta.</p>

<p>Se tiver alguma dúvida sobre a forma como lidamos com os seus dados,
  entre em contacto connosco através do email <a href="mailto:lembretestv@gmx.pt">lembretestv@gmx.pt</a>.</p>

<h2>Política de Cookies</h2>

<h3>O que são cookies?</h3>

<p>Como é prática comum em quase todos os sites profissionais, este site utiliza cookies, que são pequenos ficheiros
  guardados
  no seu computador, para melhorar a sua experiência.

<h3>Como utilizamos as cookies?</h3>

<ul>
  <li>Guardar dados que permitem manter login entre sessões, para não ter que entrar em cada sessão;</li>
  <li>Guardar as suas preferências, tais como o tema, evitando ter que o mudar em cada sessão;</li>
  <li>Guardar dados duradouros, tais como os destaques, evitando ter que os descarregar (download) em cada sessão;</li>
  <li>Os restantes dados guardados em cookies servem para melhorar a sua experiência.</li>
</ul>
