<p>
  <b i18n="@@alarm">Alarm</b>
</p>

<ng-container *ngIf="data.showIsMovie; then movie; else show"></ng-container>

<ng-template #movie>
  <ng-container *ngIf="data.alarmId == null; then movieCreate; else movieDelete"></ng-container>

  <ng-template #movieCreate>
    <button mat-raised-button color="primary" (click)="onCreateAlarm()">
      <mat-icon>add_alarm</mat-icon>
    </button>
  </ng-template>

  <ng-template #movieDelete>
    <button mat-raised-button color="warn" (click)="onDeleteAlarm()">
      <mat-icon>alarm_off</mat-icon>
    </button>
  </ng-template>
</ng-template>

<ng-template #show>
  <div class="modalDiv">
    <form [formGroup]="alarmForm" (ngSubmit)=onSubmitData() (keydown.enter)="onSubmitData()">
      <div id="form">
        <mat-form-field appearance="outline" id="season">
          <mat-label i18n="@@season">Season</mat-label>
          <input matInput type="number" id="season" min="1" max="50" formControlName="season">
        </mat-form-field>

        &nbsp;

        <mat-form-field appearance="outline">
          <mat-label i18n="@@episode">Episode</mat-label>
          <input matInput type="number" id="episode" min="1" formControlName="episode">
        </mat-form-field>
      </div>

      <ng-container *ngIf="data.alarmId == null; then showCreateButtons; else showUpdateButtons"></ng-container>

      <ng-template #showCreateButtons>
        <button *ngIf="alarmForm !== undefined" mat-raised-button color="primary" (click)="onCreateAlarm()"
          [disabled]="alarmForm.invalid" type="button">
          <mat-icon>add_alarm</mat-icon>
        </button>
      </ng-template>

      <ng-template #showUpdateButtons>
        <button *ngIf="alarmForm !== undefined" mat-raised-button color="primary" (click)="onUpdateAlarm()"
          [disabled]="alarmForm.invalid" type="button">
          <mat-icon>done</mat-icon>
        </button>

        &nbsp;

        <button *ngIf="alarmForm !== undefined" mat-raised-button color="warn" (click)="onDeleteAlarm()" type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </form>
  </div>
</ng-template>
