<h1 mat-dialog-title>
  <mat-chip-list>
    <ng-container *ngIf="data[0].show_title; then show else other"></ng-container>

    <ng-template #show>
      {{data[0].translated_title}}
      <ng-container *ngIf="data[0].is_movie; then movie else tvShow"></ng-container>

      <ng-template #movie>
        <mat-chip color="primary" selected><span i18n="@@movie">Movie</span></mat-chip>
      </ng-template>

      <ng-template #tvShow>
        <mat-chip color="accent" selected><span i18n="@@tv">TV</span></mat-chip>
      </ng-template>
    </ng-template>

    <ng-template #other>
      <span i18n="@@others">Others</span>
    </ng-template>
  </mat-chip-list>
</h1>

<div mat-dialog-content id="dialog">
  <ng-container *ngIf="data[0].show_title">
    <ng-container *ngIf="data[0].show_image != 'N/A'; then show_image"></ng-container>

    <ng-template #show_image>
      <div class="imgDiv">
        <img src="{{data[0].show_image}}">
      </div>
    </ng-template>

    <div [ngClass]="{'modalDiv' : data[0].show_image != 'N/A'}">
      <div id="showInfo">
        <div>
          <mat-icon>short_text</mat-icon> {{data[0].show_title}}
        </div>

        <div *ngIf="data[0].show_year">
          <mat-icon>calendar_today</mat-icon> {{data[0].show_year}}
        </div>

        <div *ngIf="data[0].vote_average">
          <mat-icon>insert_chart</mat-icon> {{data[0].vote_average}} ({{data[0].vote_count}} <span
            i18n="@@votes">votes</span>)
        </div>

        <div *ngIf="data[0].show_overview">
          <p><b><span i18n="@@overview">Overview</span></b></p>

          <!-- Show overview with limitation of height, for desktop. -->
          <ng-container *ngIf="data[0].is_movie || data[0].alarm == null; then highScrollable else shortScrollable">
          </ng-container>

          <ng-template #highScrollable>
            <!-- Show overview with limitation of height, for desktop. -->
            <p class="highScrollableText" fxHide.lt-md>{{data[0].show_overview}}</p>
          </ng-template>

          <ng-template #shortScrollable>
            <!-- Show overview with limitation of height, for desktop. -->
            <p class="smallScrollableText" fxHide.lt-md>{{data[0].show_overview}}</p>
          </ng-template>

          <!-- Show overview with no limitation of height, for mobile devices. -->
          <p fxHide.gt-sm>{{data[0].show_overview}}</p>
        </div>

        <div>
          <ng-container *ngIf="data[0].is_movie; then movieReference else tvReference"></ng-container>

          <ng-template #movieReference>
            <a href="http://themoviedb.org/movie/{{data[0].trakt_id}}?language=pt-PT" target="_blank" i18n="@@moreInformationTmdb">Check more information at themoviedb.org</a>
          </ng-template>

          <ng-template #tvReference>
            <a href="http://themoviedb.org/tv/{{data[0].trakt_id}}?language=pt-PT" target="_blank" i18n="@@moreInformationTmdb">Check more information at themoviedb.org</a>
          </ng-template>
        </div>
      </div>

      <div id="alarmSection">
        <app-alarm-section [data]=showAlarmModalData></app-alarm-section>
      </div>
    </div>
  </ng-container>

  <div id="sessionsSection">
    <div id="sessionsTitle"><b><span i18n="@@availableSessions">Available Sessions</span></b></div>
    <app-display-sessions [searchText]=data[1] [showId]=data[0].trakt_id [isMovie]=data[0].is_movie>
    </app-display-sessions>
  </div>
</div>
