/* Make sure the image div is always the same size and that the image is
centered. */
div.imgDiv {
  background-color: black;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 300px;
}

div#dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modalDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-width: 400px) {
  .modalDiv {
    padding-top: 1vh;
  }
}

.highScrollableText {
  overflow-y: auto;
  height: 200px;
}

.smallScrollableText {
  overflow-y: auto;
  height: 100px;
}

#sessionsSection{
  margin-top: 4vh;
  width: 100%;
}

#sessionsTitle{
  margin-bottom: 2vh;
}

mat-icon{
  display: inline-flex;
  vertical-align: top;
}
