* {
  text-align: center;
}

div#buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

div#form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input {
  text-align: center;
}
