<h1 mat-dialog-title i18n="@@updateReminder">Update Reminder</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div class="modalDiv">
    <p><b>{{data.title}}</b></p>

    <form [formGroup]="updateReminderForm" (ngSubmit)=onUpdateReminder() (keydown.enter)="onUpdateReminder()">
      <div id="form">
        <mat-form-field appearance="outline" id="anticipationHours" class="mat-cell-input-number">
          <mat-label i18n="@@anticipationHoursLimit">Anticipation Hours (1 - 24)</mat-label>
          <input matInput type="number" min="1" max="24" formControlName="anticipationHours">
        </mat-form-field>

        <div *ngIf="anticipationHours.invalid && anticipationHours.errors.tooLate" class="alert">
          <div *ngIf="anticipationHours.errors.tooLate" i18n="@@tooCloseToAiring">
            Too close to the time of airing.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions id="buttons">
  <div id="deleteButtonDiv">
    <button mat-raised-button color="warn" (click)="onDeleteReminder()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div id="doneButtonDiv">
    <button mat-raised-button color="primary" (click)="onUpdateReminder()" [disabled]="updateReminderForm.invalid">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
