<mat-toolbar color="primary">
  <a href="https://github.com/correia55/localShowReminder" target="_blank"><img src="assets/external/GitHub-Mark-Light-120px-plus.png"
      height="30px">&nbsp;&nbsp;<span i18n="@@sourceCode">Source code</span></a>

  <a href="https://gitlab.com/correia55/localshowreminderweb" target="_blank"><img src="assets/external/gitlab-logo-white-rgb.png"
      height="35px" i18n="@@appTitle">&nbsp;<span i18n="@@sourceCode">Source code</span>&nbsp;Web</a>
</mat-toolbar>
