<div id="top">
  <h3 id="subtitle" i18n="@@alarmList">Alarm List</h3>
</div>

<ngx-loading [show]="alarmService.showLoading"></ngx-loading>

<div *ngIf="alarmsDataSource.data.length > 0; then hasAlarms; else noAlarms">
</div>

<ng-template #hasAlarms>
  <div id="results">
    <table mat-table [dataSource]="alarmsDataSource" class="mat-elevation-z8" multiTemplateDataRows>
      <!-- Show id Column -->
      <ng-container matColumnDef="showId">
        <th mat-header-cell *matHeaderCellDef i18n="@@title"> Title </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.show_name}}</b> </td>
      </ng-container>

      <!-- Show type Column -->
      <ng-container matColumnDef="isMovie">
        <th mat-header-cell *matHeaderCellDef i18n="@@showType"> Show Type </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.is_movie ; then movie; else tvShow"></div>

          <ng-template #movie>
            <span i18n="@@movie">Movie</span>
          </ng-template>

          <ng-template #tvShow>
            <span i18n="@@tv">TV</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Show season Column -->
      <ng-container matColumnDef="showSeason">
        <th mat-header-cell *matHeaderCellDef i18n="@@season"> Season </th>
        <td mat-cell *matCellDef="let element"> {{element.show_season}} </td>
      </ng-container>

      <!-- Show episode Column -->
      <ng-container matColumnDef="showEpisode">
        <th mat-header-cell *matHeaderCellDef i18n="@@episode"> Episode </th>
        <td mat-cell *matCellDef="let element"> {{element.show_episode }} </td>
      </ng-container>

      <!-- Show info Column -->
      <ng-container matColumnDef="showInfo">
        <th mat-header-cell *matHeaderCellDef i18n="@@info"> Info </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.is_movie ; then movie; else tvShow"></div>

          <ng-template #movie>
            <span i18n="@@movie">Movie</span>
          </ng-template>

          <ng-template #tvShow>
            <span i18n="@@firstLetterInSeason">S</span>{{element.show_season}}
            <span i18n="@@firstLetterInEpisode">E</span>{{element.show_episode}}
          </ng-template>
        </td>
      </ng-container>

      <!-- Alarm Column -->
      <ng-container matColumnDef="alarm">
        <th mat-header-cell *matHeaderCellDef i18n="@@alarm"> Alarm </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.is_movie; then delete; else settings"></div>

          <ng-template #delete>
            <button mat-raised-button color="warn" (click)="onDeleteAlarm(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>

          <ng-template #settings>
            <button mat-raised-button color="accent" (click)="onUpdateAlarm(element)">
              <mat-icon>settings</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="alarmDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: alarmDisplayedColumns;" class="example-element-row"></tr>
    </table>
  </div>
</ng-template>

<!-- The paginator did not work correctly inside the ng-template. -->
<div [hidden]="alarmsDataSource.data.length <= 0">
  <mat-paginator #alarmPaginator [pageSize]="pageSize" (page)="onPageChange()"></mat-paginator>
</div>

<ng-template #noAlarms>
  <div id=noAlarms>
    <span i18n="@@noAlarms">You have no alarms, try creating some!</span>&nbsp;
  </div>
</ng-template>

<!-- Templates with the labels for the paginator. -->
<template #itemsPerPage i18n="@@itemsPerPage">Results per page:</template>
<template #previousPage i18n="@@previousPage">Previous page</template>
<template #nextPage i18n="@@nextPage">Next page</template>
<template #of i18n="@@of">of</template>
