<h1 mat-dialog-title i18n="@@createAlarm">Create Alarm</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div class="modalDiv">
    <p><b>{{data.showTitle}}</b></p>

    <form [formGroup]="createAlarmForm" (ngSubmit)=onCreateAlarm() (keydown.enter)="onCreateAlarm()">
      <div id="form">
        <mat-form-field appearance="outline" id="season">
          <mat-label i18n="@@season">Season</mat-label>
          <input matInput type="number" id="season" min="1" max="50" formControlName="season">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label i18n="@@episode">Episode</mat-label>
          <input matInput type="number" id="episode" min="1" formControlName="episode">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions id="buttons">
  <div id="doneButtonDiv">
    <button mat-raised-button color="primary" (click)=onCreateAlarm() [disabled]="createAlarmForm.invalid">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
