<mat-sidenav-container>
  <!--position="end" means that the sidenav will open from the right.-->
  <mat-sidenav #sidenav role="navigation" position="end">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>

      <div class="footbar">
        <app-bottom-bar></app-bottom-bar>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #cookiesSnackBar>
  <div id="cookies">
    <span i18n="@@cookiesSentence">This site uses cookies for storing only the necessary data.</span>
    <button id="cookiesButton" color="primary" (click)=clikedOk() class="mouseIsPointer">Ok</button>
  </div>
</ng-template>
