.mat-drawer {
  /* Forces the position of the sidenav to be fixed. */
  position: fixed !important;
}

div.content {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

div.footbar {
  flex: 0 0 auto;
}

div.container {
  flex: 1 1 auto;
  /* calc(5vh + 64px) because the toolbar's height is currently 64px. */
  margin: calc(5vh + 64px) 5% 5vh;

  display: flex;
  flex-direction: column;
}

div#cookies {
  display: flex;
  flex-direction: row;
}

button#cookiesButton {
  margin-left: 1%;
}
