$md-primary: (
    50 : #e8e9e9,
    100 : #c6c7c9,
    200 : #a0a2a5,
    300 : #7a7c81,
    400 : #5e6066,
    500 : #41444b,
    600 : #3b3e44,
    700 : #32353b,
    800 : #2a2d33,
    900 : #1c1f23,
    A100 : #729efb,
    A200 : #407cf9,
    A400 : #075aff,
    A700 : #004fec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #fffbe7,
    100 : #fef4c4,
    200 : #feed9d,
    300 : #fee675,
    400 : #fde058,
    500 : #fddb3a,
    600 : #fdd734,
    700 : #fcd22c,
    800 : #fccd25,
    900 : #fcc418,
    A100 : #ffffff,
    A200 : #fffefa,
    A400 : #fff0c7,
    A700 : #ffe9ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-theme-primary: mat-palette($md-primary, 900);
$dark-theme-accent: mat-palette($md-accent, 900);
$dark-theme-warn: mat-palette($mat-red, 900);

// Create the theme
$dark-theme: mat-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn
);
