$md-primary: (
  50: #a2d5f2,
  100: #b5d2e2,
  200: #83b4cf,
  300: #5195bc,
  400: #2c7fad,
  500: #07689f,
  600: #066097,
  700: #05558d,
  800: #044b83,
  900: #023a72,
  A100: #a1c9ff,
  A200: #6eabff,
  A400: #3b8eff,
  A700: #217fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #fff9e8,
  100: #ffefc5,
  200: #ffe49e,
  300: #ffd977,
  400: #ffd159,
  500: #ffc93c,
  600: #ffc336,
  700: #ffbc2e,
  800: #ffb527,
  900: #ffa91a,
  A100: #ffffff,
  A200: #fffffe,
  A400: #ffeacb,
  A700: #ffe0b2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-theme-primary: mat-palette($md-primary, 500);
$light-theme-accent: mat-palette($md-accent, 500);
$light-theme-warn: mat-palette($mat-red);

// Create the theme
$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);
