@import "~@angular/material/theming";
@include mat-core();

@mixin style-theme($theme, $mainValue, $primaryLight, $accentLight) {
  .primary {
    background-color: mat-color(map-get($theme, primary), $mainValue);
    color: mat-contrast(map-get($theme, primary), $mainValue);
  }

  .primary-light {
    background-color: mat-color(map-get($theme, primary), $primaryLight);
    color: mat-contrast(map-get($theme, primary), $accentLight);
  }

  .accent {
    background-color: mat-color(map-get($theme, accent), $mainValue);
    color: mat-contrast(map-get($theme, accent), $mainValue);
  }

  .accent-text {
    color: mat-color(map-get($theme, accent), $mainValue);
  }

  .accent-light {
    background-color: mat-color(map-get($theme, accent), $accentLight);
    color: mat-contrast(map-get($theme, accent), $accentLight);
  }

  .foreground-text {
    color: map-get(map-get($theme, foreground), text);
  }

  // Foreground and background elements: https://stackoverflow.com/a/45028242/5432895

  // Change the color of the cursor to be the one in the foreground
  input {
    caret-color: map-get(map-get($theme, foreground), text) !important;
  }

  // Set the colors of the table rows on hover
  tr.example-element-row:hover {
    background-color: map-get(map-get($theme, background), hover);
  }

  tr.example-element-row:active {
    background-color: map-get(map-get($theme, background), hover);
  }

  a {
    color: mat-color(map-get($theme, accent), $mainValue);
    font-weight: bold;
  }
}
