/* Take care of the style for the poster images in different sizes */
@media only screen and (min-width: 400px) {
  :host {
    max-width: 150px;
  }
}

@media only screen and (max-width: 400px) {
  :host {
    max-width: 40%;
  }
}

.posterCard {
  /* Change the mouse cursor to pointer when over the card */
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/* Make sure the image div is always the same size and that the image is
centered. */
div.imgDiv {
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;

  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

img {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.mat-chip-list {
  position: absolute;
  top: 10px;
  left: 10px;
}

mat-chip#voteAverage{
  background-color: white;
  color: black;
}

mat-chip#hasAlarm{
  background-color: green;
}

/* Shows ... when the title is too long. */
.mat-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px;
}
