<mat-card (click)="onShowDetails(show)" class="posterCard">
  <div mat-card-image class="imgDiv">
    <mat-chip-list id="chips">
      <!--Show a chip for the type of show.-->
      <div *ngIf="show.is_movie != null">
        <ng-container *ngIf="show.is_movie; then movie else tvShow"></ng-container>
      </div>

      <ng-template #movie>
        <mat-chip color="primary" selected><span i18n="@@movie">Movie</span></mat-chip>
      </ng-template>

      <ng-template #tvShow>
        <mat-chip color="accent" selected><span i18n="@@tv">TV</span></mat-chip>
      </ng-template>

      <!--If the user has an alarm for this show, show a chip with a tick, otherwise show a chip with the vote average.-->
      <ng-container *ngIf="show.alarm != null; then alarm else noAlarm"></ng-container>

      <ng-template #alarm>
        <mat-chip selected id="hasAlarm">
          <mat-icon>alarm_on</mat-icon>
        </mat-chip>
      </ng-template>

      <ng-template #noAlarm>
        <ng-container *ngIf="show.season_premiere != null; then newHighlight else voteAverage"></ng-container>

        <ng-template #newHighlight>
          <mat-chip id="voteAverage" selected *ngIf="show.season_premiere != -1"><span
              i18n="@@firstLetterInSeason">S</span>{{show.season_premiere}}</mat-chip>
        </ng-template>

        <ng-template #voteAverage>
          <mat-chip id="voteAverage" selected *ngIf="show.vote_average">{{show.vote_average}}</mat-chip>
        </ng-template>
      </ng-template>
    </mat-chip-list>

    <!--If there's no image, show a black background.-->
    <img src="{{show.show_image != null && show.show_image != 'N/A' ? show.show_image : 'assets/blackImage.png'}}"
      class="posterImg">
  </div>

  <mat-card-content>
    <!--For the special case of text search, we need to account for a show without title.
    In this case, it will show "Others" as the title.-->
    <ng-container *ngIf="show.show_title != null; then showTitle else other"></ng-container>

    <ng-template #showTitle>
      <ng-container *ngIf="show.translated_title != null; then translated else original"></ng-container>

      <ng-template #translated>
        {{show.translated_title}}
      </ng-template>

      <ng-template #original>
        {{show.show_title}}
      </ng-template>
    </ng-template>

    <ng-template #other>
      <span i18n="@@others">Others</span>
    </ng-template>
  </mat-card-content>
</mat-card>
