mat-nav-list{
  max-width: 180px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

div#title {
  margin-top: 5vh;
  margin-left: 6%;
}

div#features {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

div#user {
  margin-top: 5vh;
}

h2#titleText {
  font-family: "Patua One";
}

#mat-nav-min-width {
  width: 180px;
}
