<mat-nav-list>
  <div id="title">
    <h2 i18n="@@appTitle" id="titleText">
      Local Show Reminder
    </h2>
  </div>

  <!--This span is used to set the minimum width of the mat-nav.-->
  <span id="mat-nav-min-width" style="height: 0px; display: inline-block;"></span>

  <div id="features">
    <a mat-list-item (click)="onGoToMain()">
      <mat-icon>home</mat-icon> <span class="nav-caption" i18n="@@home">Home</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSearch()">
      <mat-icon>search</mat-icon><span class="nav-caption" i18n="@@search">Search</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onGoToHighlights()">
      <mat-icon>highlight</mat-icon><span class="nav-caption" i18n="@@highlights">Highlights</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onGoToAbout()">
      <mat-icon>supervisor_account</mat-icon><span class="nav-caption" i18n="@@about">About</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onGoToPrivacyPolicy()">
      <mat-icon>assignment</mat-icon><span class="nav-caption" i18n="@@privacyPolicy">Privacy Policy</span>
    </a>
  </div>

  <mat-divider></mat-divider>

  <div id="user">
    <div *ngIf="tokenService.validateRefreshToken(); then loggedIn else notLoggedIn">
    </div>

    <ng-template #loggedIn>
      <a mat-list-item (click)="onAlarms()">
        <mat-icon>list</mat-icon> <span class="nav-caption" i18n="@@alarms">Alarms</span>
      </a>
      <a mat-list-item (click)="onReminders()">
        <mat-icon>list</mat-icon> <span class="nav-caption" i18n="@@reminders">Reminders</span>
      </a>
      <a mat-list-item routerLink="#" (click)="onGoToSettings()">
        <mat-icon>settings</mat-icon> <span class="nav-caption" i18n="@@settings">Settings</span>
      </a>
    </ng-template>
    <ng-template #notLoggedIn>
      <a mat-list-item (click)="onLogIn()">
        <mat-icon>account_box</mat-icon> <span class="nav-caption" i18n="@@logIn">Log In</span>
      </a>
      <a mat-list-item (click)="onSignUp()">
        <mat-icon>create</mat-icon> <span class="nav-caption" i18n="@@signUp">Sign Up</span>
      </a>
    </ng-template>
  </div>
</mat-nav-list>
