/* Forces the position of the toolbar to be fixed and on top of the remaining content. */
mat-toolbar {
  position: fixed;
  z-index: 2;
}

:host {
  width: 100%;

  display: flex;
  flex-direction: row;
}

div#title {
  margin-right: auto;
}

span#titleSpan {
  margin: 0 16px;
  font-family: "Patua One";
  font-size: 26px;
}

div#user {
  margin-left: auto;
}

/* This ensures the middle buttons are centered even though the left item and
the right item being of a different width. */
div#pages {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: row;
}

div#search{
  margin-left: 0;
  padding-right: 5px;
  font-size: 11px;
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

form{
  flex: 1 1 auto;

  display: flex;
}

mat-form-field{
  flex: 1 1 auto;
  max-width: 300px;
}
