<mat-toolbar [class.mat-elevation-z10]="true" color="primary">
  <div id="title" fxHide.lt-md>
    <span (click)="onGoToMain()" class="mouseIsPointer" id="titleSpan" i18n="@@appTitle">
      Local Show Reminder
    </span>
  </div>

  <div id="search" fxLayoutGap="5px" fxHide.gt-sm>
    <button mat-icon-button color="accent" type="submit" [disabled]="searchForm.invalid" id="searchButton">
      <mat-icon>search</mat-icon>
    </button>

    <form [formGroup]="searchForm" (ngSubmit)=onSearch()>
      <mat-form-field appearance="outline" id="searchInput" style="margin-bottom: -1.25em" class="flexible-mat-form-field">
        <input matInput type="text" formControlName="searchText">
      </mat-form-field>
    </form>
  </div>

  <div id="pages" fxLayoutGap="5px" fxHide.lt-md>
    <div>
      <button mat-button (click)="onGoToMain()" i18n="@@search">
        Search
      </button>
    </div>

    <div>
      <button mat-button (click)="onGoToHighlights()" i18n="@@highlights">
        Highlights
      </button>
    </div>

    <div>
      <button mat-button (click)="onGoToAbout()" class="mouseIsPointer" i18n="@@about">
        About
      </button>
    </div>

    <div>
      <button mat-button (click)="onGoToPrivacyPolicy()" class="mouseIsPointer" i18n="@@privacyPolicy">
        Privacy Policy
      </button>
    </div>
  </div>

  <div id="user">
    <app-user-corner fxLayoutGap="5px"></app-user-corner>
  </div>

  <div fxHide.gt-sm id="menu">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
