<div id="scoreHighlights" class="highlight" *ngIf="getScoreHighlights() != null && getScoreHighlights().length > 0">
  <div>
    <mat-icon>insert_chart</mat-icon>&nbsp;<span i18n="@@bestScore">Best Score</span>
  </div>

  <mat-tab-group mat-align-tabs="start" #scoreTabGroup>
    <mat-tab *ngIf="getScoreHighlights()[0] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@last(week)">Last</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@lastWeek">Last Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="scoreContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getScoreHighlights()[0].show_list">
            <div class="break" *ngIf="shouldBreakRow(getScoreHighlights()[0].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="getScoreHighlights()[1] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@this(week)">This</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@thisWeek">This Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="scoreContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getScoreHighlights()[1].show_list">
            <div class="break" *ngIf="shouldBreakRow(getScoreHighlights()[1].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="getScoreHighlights()[2] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@next(week)">Next</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@nextWeek">Next Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="scoreContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getScoreHighlights()[2].show_list">
            <div class="break" *ngIf="shouldBreakRow(getScoreHighlights()[2].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="highlight" *ngIf="getNewHighlights() != null && getNewHighlights().length > 0
  && (getNewHighlights()[0] != null || getNewHighlights()[1] != null || getNewHighlights()[2] != null)">
  <div>
    <mat-icon> fiber_new</mat-icon>&nbsp;<span i18n="@@newShows">New Shows</span>
  </div>

  <mat-tab-group mat-align-tabs="start" #newTabGroup>
    <mat-tab *ngIf="getNewHighlights()[0] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@last(week)">Last</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@lastWeek">Last Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="newContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getNewHighlights()[0].show_list">
            <div class="break" *ngIf="shouldBreakRow(getNewHighlights()[0].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="getNewHighlights()[1] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@this(week)">This</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@thisWeek">This Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="newContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getNewHighlights()[1].show_list">
            <div class="break" *ngIf="shouldBreakRow(getNewHighlights()[1].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="getNewHighlights()[2] != null">
      <ng-template mat-tab-label>
        <ng-container *ngIf="isSmallMobileDevice; then smallLabel else completeLabel"></ng-container>

        <ng-template #smallLabel>
          <span i18n="@@next(week)">Next</span>
        </ng-template>

        <ng-template #completeLabel>
          <span i18n="@@nextWeek">Next Week</span>
        </ng-template>
      </ng-template>

      <!--matTabContent allows for lazy loading of the content. For some reason, it needs to be a separate template.-->
      <ng-template matTabContent>
        <div id="posterContainer" [class]="newContainerClass">
          <ng-template ngFor let-i="index" let-item [ngForOf]="getNewHighlights()[2].show_list">
            <div class="break" *ngIf="shouldBreakRow(getNewHighlights()[2].show_list, i)"></div>

            <app-ngui-in-view>
              <app-db-show-card *ngIf [show]=item></app-db-show-card>
            </app-ngui-in-view>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
