/* So that this component expands to the full extent of its parent. */
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#posterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1vh;
}

#posterContainer > * {
  margin: 10px;
}

div.centeredContainer {
  justify-content: center;
}

div.spacedBetweenContainer {
  justify-content: space-between;
}

#paginator {
  border-radius: 4px;
}

mat-icon {
  display: inline-flex;
  vertical-align: top;
}

/* Inserting a collapsed row between two flex items will make
 * the flex item that comes after it break to a new row.
 Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/*/
.break {
  flex-basis: 100%;
  height: 0;
}

::ng-deep .mat-tab-body-wrapper {
  margin: 0 -10px; /* This is for the results to align with the borders of the container.*/
}

div#scoreHighlights {
  margin-bottom: 5vh;
}

/* This is needed for the correct detection of when an image is supposed to be loaded.*/
app-ngui-in-view {
  min-width: 100px;
  min-height: 180px;
}

/* Take care of the style for the poster images in different sizes */
@media only screen and (min-width: 400px) {
  app-ngui-in-view {
    max-width: 150px;
  }
}

@media only screen and (max-width: 400px) {
  app-ngui-in-view {
    max-width: 40%;
  }
}
