<div id="content">
  <div id="title">
    <img [src]="logoSrc" id="logo" />
    <h1 id="titleText">LembretesTV</h1>
  </div>

  <div id="summary">
    <span i18n="@@summary">Search for sessions of movies and tv shows and create reminders.</span>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)=onSearch()>
    <mat-form-field appearance="outline" id="searchInput">
      <input matInput type="text" formControlName="searchText" placeholder="Try searching for a show..."
        i18n-placeholder="@@trySearching">
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="searchForm.invalid" id="searchButton">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <app-highlights></app-highlights>
</div>

<div id="tmdbAttribution">
  <p i18n="@@informationSource">Information source</p>
  <a href="https://www.themoviedb.org/" target="_blank">
    <img
      src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg"
      id="tmdbLogo">
  </a>
</div>
