/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Expand content. */
div#content {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Center summary and define margin. */
div#title {
  text-align: center;
  margin: 0 auto 3vh;
}

/* Center summary and define margin. */
div#summary {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 3vh;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-form-field#searchInput {
  width: 100%;
  max-width: 500px;
  margin-right: 2%;
}

::ng-deep .mat-form-field-infix{
  border-top-width: 4px;
}

img#logo {
  max-height: 15vh;
  height: auto;
}

*#titleText {
  font-family: "Patua One";
  font-size: 32px;
}

button#searchButton {
  margin-bottom: 21.5px;
  height: 52px;
}

div#tmdbAttribution{
  text-align: center;
}

img#tmdbLogo{
  max-width: 200px;
}
