<h1 mat-dialog-title i18n="@@createReminder">Create Reminder</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div class="modalDiv">
    <p><b>{{data.title}}</b></p>

    <form [formGroup]="createReminderForm" (ngSubmit)=onCreateReminder() (keydown.enter)="onCreateReminder()">
      <div id="form">
        <mat-form-field appearance="outline" id="anticipationHours">
          <mat-label i18n="@@anticipationHours">Anticipation Hours</mat-label>
          <input matInput type="number" id="season" min="1" max="24" formControlName="anticipationHours">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions id="buttons">
  <div id="doneButtonDiv">
    <button mat-raised-button color="primary" (click)=onCreateReminder() [disabled]="createReminderForm.invalid">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
