/* Theme for material design */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Normalizes things between different browsers */
@import "~normalize.css";

html,
body {
  /* Adjust the size of the font according to the width of the screen. */
  font-size: 100%;
  /* Make sure the html and body fill, at least, the height of the screen. */
  min-height: 100vh;
  /* Increase the default line height, so there's more space between rows. */
  line-height: 1.6;
}

/* Make sure the anchors (links) have no formatting
(no underline or color change). */
a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Make sure the headers have no margins. */
h1,
h2,
h3 {
  margin: 0;
}

/* Hide the blue border when the elements are focused. */
*:focus {
  border-color: transparent;
}

/* Class that changes the mouse to pointer. */
.mouseIsPointer {
  cursor: pointer;
}

/* Create an alert box. */
.alert {
  background-color: salmon;
  color: crimson;
  border-radius: 5px;
  padding: 1%;
}

/* Create a warning box. */
.warning {
  background-color: rgb(255, 211, 129);
  color: rgb(165, 107, 0);
  border-radius: 5px;
  padding: 1%;
}

/* Define colored buttons. */
.greenButton {
  background-color: green !important;
  color: white !important;
}

.yellowgreenButton {
  background-color: yellowgreen !important;
  color: white !important;
}

/* Define default button size. */
button {
  height: 36px;
}

/* This needs to be here. And it makes it so the mat-form-field expands/shrinks with available space. */
.flexible-mat-form-field .mat-form-field-infix {
  width: auto !important;
}

/* Set the default font-family. */
* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
