<div id="top">
  <h3 id="subtitle" i18n="@@searchDatabase">Search Database</h3>
</div>

<form [formGroup]="searchForm" (ngSubmit)=onSearchShowDB()>
  <mat-form-field appearance="outline" id="searchInput">
    <input matInput type="text" formControlName="searchText" placeholder="Try searching fo something..."
      i18n-placeholder="@@trySearching">
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="searchForm.invalid" id="searchButton">
    <mat-icon>search</mat-icon>
  </button>
</form>

<ngx-loading [show]="showLoading"></ngx-loading>

<div *ngIf="incompleteList" class="warning" id="incompleteListWarning">
  <p i18n="@@incompleteListWarning">The complete list of results is too big, only a few are being shown. Try refining
    your search. If you suround your search with quotes, you'll get only the shows whose name is an exact match.</p>
</div>

<div id="posterContainer" [class]="containerClass">
  <ng-template ngFor let-item [ngForOf]="pageResults">
    <app-db-show-card [show]=item [searchText]=searchTextValue></app-db-show-card>
  </ng-template>
</div>

<!-- The paginator did not work correctly inside the ng-template. -->
<div [hidden]="searchResults.length <= pageSize">
  <br>
  <mat-paginator [length]="searchResults.length" [pageSize]="pageSize" (page)="onPageChange()" id="paginator">
  </mat-paginator>
</div>

<div id="tmdbAttribution">
  <p i18n="@@informationSource">Information source</p>
  <a href="https://www.themoviedb.org/" target="_blank">
    <img
      src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg"
      id="tmdbLogo">
  </a>
</div>

<!-- Templates with the labels for the paginator. -->
<template #itemsPerPage i18n="@@itemsPerPage">Results per page:</template>
<template #previousPage i18n="@@previousPage">Previous page</template>
<template #nextPage i18n="@@nextPage">Next page</template>
<template #of i18n="@@of">of</template>
