/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#top {
  margin-bottom: 4vh;
  text-align: center;
}

*#subtitle {
  font-family: "Patua One";
  font-size: 22px;
}

div#summary {
  margin-bottom: 4vh;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-form-field#searchInput {
  width: 100%;
  max-width: 500px;
  margin-right: 2%;
}

::ng-deep .mat-form-field-infix {
  border-top-width: 4px;
}

button#searchButton {
  margin-bottom: 21.5px;
  height: 52px;
}

#posterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.centeredContainer {
  justify-content: center;
}

div.spacedBetweenContainer {
  justify-content: space-between;
  margin: -10px; /* This is for the results to align with the borders of the container.*/
}

#posterContainer > * {
  margin: 10px;
}

div#noResults {
  text-align: center;
}

.warning {
  margin-bottom: 1vh;
  padding: 0 1%;
}

div#incompleteListWarning {
  text-align: center;
  margin-bottom: 10px;
}

div#tmdbAttribution {
  text-align: center;
}

img#tmdbLogo {
  max-width: 200px;
}

#paginator {
  border-radius: 4px;
}
