<div id="subTitle">
  <h3 i18n="@@emailChange">Email Change</h3>
</div>

<form [formGroup]="emailChangeForm" (ngSubmit)=clickingOnChange(0) (keydown.enter)="clickingOnChange(0)">
  <mat-form-field appearance="outline">
    <mat-label i18n="@@newEmail">New Email</mat-label>
    <input matInput type="text" formControlName="email" name="email">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" i18n="@@change" [disabled]="emailChangeForm.invalid"
    class="submitButton">
    Change
  </button>
</form>

<ngx-loading [show]="showLoading"></ngx-loading>
