/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;
  /* To push the content a litte above the vertical center. */
  margin: 0 0 10vh 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  text-align: center;
}

div#subTitle {
  margin-bottom: 3vh;
}

div.subtopic {
  padding: 5vh 0 0 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
