<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="ACCOUNT_VERIFICATION">
    <div id="subTitle">
      <h2 i18n="@@accountVerification">Account Verification</h2>
    </div>

    <ng-container *ngIf="operationSuccess; then success; else failure"></ng-container>

    <ng-template #success>
      <div class="subtopic">
        <p i18n="@@verificationSuccess">Your account has been verified, you can now login.</p>
      </div>
    </ng-template>

    <ng-template #failure>
      <div class="subtopic">
        <p i18n="@@verificationFailure">Something failed in the verification, make sure the link is correct and the
          limit
          date has not been surpassed.</p>
        <p i18n="@@verificationFailureSolution">The sending of a new verification email can be request by logging in to
          your
          account.</p>
      </div>
    </ng-template>
  </div>

  <div *ngSwitchCase="ACCOUNT_DELETION">
    <div id="subTitle">
      <h2 i18n="@@accountDeletion">Account Deletion</h2>
    </div>

    <ng-container *ngIf="operationSuccess; then success; else failure"></ng-container>

    <ng-template #success>
      <div class="subtopic">
        <p i18n="@@deletionSuccess">Your account has been deleted.</p>
      </div>
    </ng-template>

    <ng-template #failure>
      <div class="subtopic">
        <p i18n="@@deletionFailure">Something failed in the deletion, make sure the link is correct and the
          limit
          date has not been surpassed.</p>
        <p i18n="@@deletionFailureSolution">The sending of a new deletion email can be request in your
          account settings.</p>
      </div>
    </ng-template>
  </div>

  <div *ngSwitchCase="ACCOUNT_CHANGE">
    <div id="subTitle">
      <h2 i18n="@@accountChange">Account Change</h2>
    </div>

    <ng-container *ngIf="operationSuccess; then success; else failure"></ng-container>

    <ng-template #success>
      <div class="subtopic">
        <p i18n="@@changeSuccess">Your changes to the account have been applied.</p>
      </div>
    </ng-template>

    <ng-template #failure>
      <div class="subtopic">
        <p i18n="@@changeFailure">Something failed in applying the change, make sure the link is correct and the
          limit date has not been surpassed.</p>
        <p i18n="@@changeFailureSolution">The sending of a new change email can be request in your
          account settings.</p>
      </div>
    </ng-template>
  </div>
</ng-container>

<ngx-loading [show]="showLoading"></ngx-loading>
