/* So that this component expands to the full extent of its parent. */
:host {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#top {
  margin-bottom: 4vh;
  text-align: center;
}

div#summary {
  margin-bottom: 4vh;
  text-align: center;
}

table {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-form-field#searchInput {
  width: 100%;
  max-width: 500px;
  margin-right: 2%;
}

::ng-deep .mat-form-field-infix {
  border-top-width: 4px;
}

button#searchButton {
  margin-bottom: 21.5px;
  height: 52px;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-position {
  padding: 16px;
}

/* Center the content in mat-tables (apparently it needs to be here to work). */
th.mat-header-cell {
  text-align: center;
}

td.mat-cell:not(.hidden-mat-cell) {
  text-align: center;
}

/* I don't know why but this fixes the change in position for the table headers. */
td.hidden-mat-cell {
  width: 50%;
}

div#results {
  margin: -6px -6px;
  margin-bottom: 4vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#results > div {
  margin: 6px;
}

*#subtitle {
  font-family: "Patua One";
  font-size: 22px;
}
