<div id="top">
  <h3 id="subtitle" i18n="@@searchListings">Search TV Listings</h3>
</div>

<form [formGroup]="searchForm" (ngSubmit)=onSearchListings()>
  <mat-form-field appearance="outline" id="searchInput">
    <input matInput type="text" formControlName="searchText" placeholder="Try searching fo something..."
      i18n-placeholder="@@trySearching">
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="searchForm.invalid" id="searchButton">
    <mat-icon>search</mat-icon>
  </button>
</form>

<ngx-loading [show]="showLoading"></ngx-loading>

<div *ngIf="dataSource.data.length > 0; then hasResults; else noResults"></div>

<ng-template #hasResults>
  <div>
    <div id=results>
      <div>
        <span i18n="@@didntFind">Didn't find what you were looking for?</span>
      </div>

      <div>
        <button mat-raised-button [matTooltip]="searchDatabaseInfo.innerText" color="primary"
          (click)="onSearchDatabase()" i18n="@@searchDatabase" [disabled]="searchForm.invalid" type="button">
          Search Show Database
        </button>
      </div>
    </div>

    <table id="resultsTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
      <!-- Show Column -->
      <ng-container matColumnDef="wholeInfo">
        <th mat-header-cell *matHeaderCellDef i18n="@@show"> Show </th>
        <td mat-cell *matCellDef="let element">
          <b>{{element.title}}</b><br>

          <span *ngIf="element.season">
            <span i18n="@@firstLetterInSeason">S</span>{{element.season}}
          </span>

          <span *ngIf="element.episode">
            <span i18n="@@firstLetterInEpisode">E</span>{{element.episode}}
          </span>

          <span *ngIf="element.first_season_available">
            <span i18n="@@firstLetterInSeason">S</span>{{element.first_season_available == element.last_season_available ?
            element.first_season_available :
            element.first_season_available + ' - ' + element.last_season_available}}
          </span>

          <i>{{element.service}}</i>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef i18n="@@title"> Title </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.title}}</b> </td>
      </ng-container>

      <!-- Season Column -->
      <ng-container matColumnDef="season">
        <div fxHide.lt-md>
          <th mat-header-cell *matHeaderCellDef i18n="@@season"> Season </th>
          <td mat-cell *matCellDef="let element">
            {{element.type == 'TV' ?
            element.season :
            element.first_season_available == element.last_season_available ?
            element.first_season_available :
            element.first_season_available + ' - ' + element.last_season_available}}
          </td>
        </div>
      </ng-container>

      <!-- Episode Column -->
      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef i18n="@@episode"> Episode </th>
        <td mat-cell *matCellDef="let element"> {{element.type == 'TV' ? element.episode : '-'}} </td>
      </ng-container>

      <!-- Channel Column -->
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef i18n="@@channel/service"> Channel/Service </th>
        <td mat-cell *matCellDef="let element"> <i>{{element.service}}</i> </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef i18n="@@schedule"> Schedule </th>
        <td mat-cell *matCellDef="let element">
          {{element.date_time == null ? '-' : (element.date_time | date:'EEEE, d MMMM HH:mm')}}
        </td>
      </ng-container>

      <!-- Reminder Column -->
      <ng-container matColumnDef="reminder">
        <th mat-header-cell *matHeaderCellDef i18n="@@reminder"> Reminder </th>
        <td mat-cell *matCellDef="let element">
          <!-- Only for channel sessions (which means they have a date time) -->
          <div *ngIf="element.date_time">
            <div *ngIf="element.isMatch; then match; else noMatch"></div>
            <ng-template #match>
              <button mat-raised-button color="accent" (click)="onCreateReminder($event, element)">
                <mat-icon>settings</mat-icon>
              </button>
            </ng-template>

            <ng-template #noMatch>
              <button mat-raised-button color="primary" [disabled]="checkCanCreateReminder(element.date_time)" (click)="onCreateReminder($event, element)">
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
    </table>
  </div>
</ng-template>

<!-- The paginator did not work correctly inside the ng-template. -->
<div [hidden]="dataSource.data.length <= 0">
  <mat-paginator [pageSize]="pageSize" (page)="onPageChange()"></mat-paginator>
</div>

<ng-template #noResults>
  <div *ngIf="searchPerformed; then notFound else noSearch"></div>

  <ng-template #notFound>
    <div id=results>
      <div>
        <span i18n="@@noResults">No results found!</span>
      </div>

      <div>
        <button mat-raised-button [matTooltip]="searchDatabaseInfo.innerText" color="primary"
          (click)="onSearchDatabase()" i18n="@@searchDatabase">
          Search Show Database
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #noSearch>
    <div id="summary">
      <span i18n="@@searchListingsSummary">Search sessions of movies and tv shows.</span>
    </div>
  </ng-template>
</ng-template>

<template #searchDatabaseInfo i18n="@@searchDatabaseInfo">Search show database and create reminders</template>

<!-- Templates with the labels for the paginator. -->
<template #itemsPerPage i18n="@@itemsPerPage">Results per page:</template>
<template #previousPage i18n="@@previousPage">Previous page</template>
<template #nextPage i18n="@@nextPage">Next page</template>
<template #of i18n="@@of">of</template>
